/* */

#topBanner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #B22222;
	width: 100%;
	height: 40px;
	
}

#spaceBelowTopBanner {
	width: 100%;
	height: 40px;
}

#loginBtn {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box (model-content) */
#sign-in {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





#body {
	margin-left: 40px;
	margin-right: 40px;
	height: 100%;
}

/* index page */


#landingDisplay {
	margin-top: 10px;
	background-color: #B22222;
	height: 200px;
	/*width: 100%;*/
	margin-bottom: 50px;
}

#landingDisplay p {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 40px;
}

/* upload/analysis page */

#uploadMainArea {
	text-align: center;

	/*position: relative;
	float: left;*/
	
	width: 100%;
}

#uploadTitle {
	color: #B22222;
	font-size: 20px;
	/*text-align: center;*/
	font-weight: bold;
	font-family: "Helvetica";
	letter-spacing: 3px;
}

#subHeading {
	/*text-align: center;*/
	font-family: "Helvetica";
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
}

#uploadDesc {
	/*text-align: center;*/
	font-family: "Helvetica";
	font-size: 14px;
	font-weight: bold;
}

#existingData {
	border: 5px solid #B22222;
	width: 100%;
	/*height: 100px;*/
	border-radius: 10px;
	
	/*display: flex;
	flex-direction: column;
	min-height: 100vh;*/
}

#existingData p {
	margin: 5px;
	
	/*flex: 1;*/
}

#uploadData {
	border: 5px solid #B22222;
	width: 100%;
	height: 200px;
	border-radius: 10px;
}

#uploadData p {
	margin: 5px;
}

#myDataBtn {
	margin-top: 20px;
	background-color: #F2B053;
	font-weight: bold;
    padding: 10px;
    border-radius: 10px;
	margin-bottom: 5px;
}












#bottomHalf {
	text-align: center;
}

#bottomHalf p {
	font-family: "Helvetica";
	font-size: 20px;
	font-weight: bold;
	color: #B22222;
}

#startBtn {
	background-color: #F2B053;
	font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}


#bottomBanner {
	background-color: #B22222;
    overflow: hidden;
    position: fixed;
    bottom: 0;
	left: 0;
	right: 0;
    width: 100%;
	height: 100px;
}



/* drop down styling */

#dropdown {
	float: right;
	margin-top: 20px;
	margin-right: 70px;
}

#dropdown button {
	margin-left: 30px;
}

.dropbtn {
    background-color: white;
    color: #B22222;
	font-weight: bold;
	font-family: "Helvetica";
    /*padding: 16px;*/
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #B22222;
	color: white;

}

/*.dropdown {
    position: relative;
    display: inline-block;
}*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}